table {
    border-collapse:collapse;
    width: 100%;
}

th, td {
    border: 2px solid #c9c8c8;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: hsl(0, 0%, 95%);
}

#filter-section {
    margin-bottom: 20px;
}